nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 5;
}



body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* signup */

body {
    background-image: url('./beach.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}




/* trip detail */

.main {
  width: 100%;
  height: 100vh;

}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.box {
    display: inline-block;
    background-color: #eee;
    padding: 55px;
}


.trip-name, .destination, .date, .people-joining {
  background-color: tranparent;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

}

.trip-deets {
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  color: black;
}

.back-vid {
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 70px;
  min-width: 100%;
  min-height: 100%;
}

.vid-cover {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  min-width: 100%;
  min-height: 100%;
}


.box-two {
  position: relative;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  font-size: 13px;
  line-height: 15pt;
  background-color: #eee;
  padding: 55px;
  z-index: 4;
}

.box-three {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  width: 50%;
  font-size: 13px;
  line-height: 1;
  background-color: #eee;
  padding: 44px;
  z-index: 3;

}

.box-four {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #eee;
  padding: 55px;
  z-index: 0;

}



thead {
  z-index: 4;
  position: relative;
}

h2 {
  z-index: 4;
  position: relative;
}

button {
  z-index: 2;
  position: relative;
  width: "100px";
  height: "30px";
}

/* your trips */


.tm-box {
  z-index: 12;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: aboslute;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  color: black;
}

.bg-info {
  background-color: white;
}
